In [1]:
!git clone https://github.com/madhur02/Dataset_datascience.git

Cloning into 'Dataset_datascience'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 26 (delta 8), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (26/26), 35.13 MiB | 8.31 MiB/s, done.
Resolving deltas: 100% (8/8), done.

In [5]:
# !git clone https://github.com/madhur02/Dataset_datascience.git
import pandas as pd
import numpy as np
sales_data = pd.read_csv("Dataset_datascience/SalesDataAnalysis.csv")
sales_data.head()

,Customer_ID,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,City,Hour,Time of Day
0,0,295665,Laptops and Computers,Macbook Pro Laptop,1,"$1,700.00",30/12/19 0:01,"136 Church St, New York City, NY 10001","$1,700.00",New York City,0,Night
1,1,295666,Home Appliances,LG Washing Machine,1,$600.00,29/12/19 7:03,"562 2nd St, New York City, NY 10001",$600.00,New York City,7,Morning
2,2,295667,Charging Cables,USB-C Charging Cable,1,$11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",$11.95,New York City,18,Evening
3,3,295668,Monitors,27in FHD Monitor,1,$149.99,22/12/19 15:13,"410 6th St, San Francisco, CA 94016",$149.99,San Francisco,15,Afternoon
4,4,295669,Charging Cables,USB-C Charging Cable,1,$11.95,18/12/19 12:38,"43 Hill St, Atlanta, GA 30301",$11.95,Atlanta,12,Afternoon

## Question 1: How much revenue was generated from the three top-selling product categories?

> Add blockquote

## Question 2: What percentage of overall Sales do each of the categories contribute in 2019?

## Question 3:  Which product category shows the widest price range of products?

## Question 4: Plot the Sales trend for iPhone on a Monthly basis.

## Question 5: For every city, list the products that have not yet been sold in that city.

## Question 6: List the top 3 cities in terms of the number of orders for each time of the day (Morning/Afternoon/Evening/Night).

## Question 7: Find the top 3 customers by Sales.